### Fake robot test 2020-07-13 01

```
Test param:
    TEST_SPEED_F = 4.5
    TEST_SPEED_B = 4.5
    RADIUS_F = 1.5
    RADIUS_B = 1.5
    pure_pursuit_data.velocity_z_kP = 3.0
    pure_pursuit_data.velocity_z_max = 2.0
    pure_pursuit_data.velocity_shift_kP = 6.0
    pure_pursuit_data.velocity_shift_kD = 0.0
    pure_pursuit_data.curvature_penalty_kP = 1.0
    pure_pursuit_data.stop_kP = 2.0
    pure_pursuit_data.stop_kD = 0.4
Test result:
    scene 2: 3.07
    scene 3: 2.77
    scene 4: 2.58
    scene 5: 2.48
    scene 6: 2.77
```