<launch>

  <arg name = "ip_addr"/>

  <node name="wifi_client" pkg="m2_wireless_comm" type="client.py" output="screen" >
    <param name="SERVER_IP" value="$(arg ip_addr)" />
    <param name="TCP_PORT" type="int" value="10305" />
    
    <rosparam param="topic_list">[] </rosparam>
    <rosparam param="msg_type">[] </rosparam> 
  </node>

</launch>
