<launch>

    <arg name="init_x" default="0.395"/>
    <arg name="init_y" default="9.646"/>
    <arg name="init_z" default="-1.570796326795"/>
    <include file="$(find m2_encoder_imu_board)/launch/actionx.launch">
        <!-- <arg name="init_x" default="12.925"/> -->
        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_z" value="$(arg init_z)"/>
        <!-- <arg name="count_per_meter" value="[-25765.0, 25918.0]" /> -->
        <arg name="serial_port" default="/dev/tinyboard-EncoderIMUBoard_0001" />
    </include>

    <!-- <node name="limit_switch_reset"
        pkg="m2_tr2020"
        type="limit_switch.py"
        respawn="true">
        <param name="reset_x" value="$(arg init_x)" />
        <param name="reset_y" value="$(arg init_y)" />
        <param name="reset_z" value="$(arg init_z)" />
    </node>   -->

    <node name = "rqt_viz"
        pkg = "m2_chassis_utils"
        type = "odom2plot.py"
        output = "screen"
        respawn = "true" />

    <node name="lidar_icp_server" pkg="m2_lidar_icp_ros" type="icp_service.py" output="screen">
        <param name="lidar_mount_x" type="double" value="0.0"/>
        <param name="lidar_mount_y" type="double" value="0.23"/>
        <param name="lidar_mount_z" type="double" value="-1.57079632679"/>
        <param name="invert_scan_multiplier" value="-1.0" /> <!-- -1.0 if lidar is flipped -->
        <param name="angle_min" value="1.9"/> <!-- avoid the wheel -->
        <param name="angle_max" value="4.38"/>  <!-- avoid the wheel -->
        <param name="x_min" value="-0.02" />  <!-- red game field -->
        <param name="x_max" value="6.67" /> <!-- red game field -->
    </node>

</launch>