<launch>
    <arg name = "joy" default = "/dev/input/js0"/>
    <arg name = "team"/>
    <arg name = "color"/>


    <include file = "$(find m2_ps4)/launch/ps4_msg.launch">
        <arg name = "joy" value="$(arg joy)"/>
        <arg name = "joy_deadzone" value="0.02"/>
    </include>

    <node name = "ps4_handler" 
        pkg = "m2_tr2020"
        type = "ps4_handler.py"
        output = "screen"
        respawn = "true">
        <param name="team" type="str" value="$(arg team)" />
        <param name="color" type="str" value="$(arg color)" />
    </node>

    <node name = "mode_swticher"
        pkg = "m2_move_base"
        type = "mode_switcher.py"
        output = "screen"
        respawn = "true" />

    <node name = "fulltask_server" 
        pkg = "m2_tr2020"
        type = "fulltask_server.py"
        output = "screen"
        respawn = "true">
        <param name="team" type="str" value="$(arg team)" />
        <param name="color" type="str" value="$(arg color)" />
    </node>

    <!-- <node name = "dji_try_server" 
        pkg = "m2_tr2020"
        type = "dji_try_action.py"
        output = "screen"
        respawn = "true">
    </node> -->

</launch>